<%- include('./inc/head') -%> 
<%- include('./inc/header') -%> 
<link rel="stylesheet" href="/css/event.css">
<div class="wrapper">
	<%- include('./inc/title') -%> 
	<ul class="evt-wrapper">
		<% for(let v of event) { %>
			<%- include('./event/list', { v }) -%>
		<% } %>
	</ul>
</div>
<%- include('./inc/foot') -%> 