<%- include('../inc/head') %>
<link rel="stylesheet" href="/css/error.css">
<div class="error-wrapper">
	<div class="error-wrap">
		<div>
			<div class="img-wrap">
				<img src="/img/error/<%= status || '500' %>-error.png" alt="icon" class="w100">
			</div>
			<h2><%= message %></h2>
		</div>
		<% if(description) { %>
			<hr>
			<p><%= description %></p>
		<% } %>
		<div class="bt-wrap">
			<hr>
			<a href="/" class="btn btn-primary">메인페이지로 돌아가기</a>
		</div>
	</div>
</div>
<%- include('../inc/foot') %> 